
.footer-bg{
  
    background:black;
    /* opacity: 1; */
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-attachment: fixed;
    background-size: cover;
}
/* @media only screen and (max-width: 680px) {
    
  .footer-bg{
     width: 575px;;
  }
} */
  .footer-menu {
    list-style: none;
    margin-top: 30px;
    font-size: 16px;
    cursor: pointer;
    color: rgb(250, 241, 231);
  }
  .footer-menu:hover {
    color: rgb(217, 231, 22);
  }
  .heading-footer{
    color: antiquewhite;
    font-family: Georgia, sans-serif;
    font-size: 2.5em;
    letter-spacing: -1px;
       
}
 