.error{
    
  
    background-image:linear-gradient(to top, #000046, #1cb5e0),url("");
    background-repeat: no-repeat;
    background-position:center; 
    background-size:contain ;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
@media only screen and (max-width:680px){
    .error{
        
        background-position:center;
        background-size: cover;
        height: 35vh;
        
      
    }
}