.dashboardbg{
    
    background-image: linear-gradient( 180deg, #4d494900 60%, #02020269 100%),url("https://i.ibb.co/xLQx4WF/bg1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover ;
}
.dash-bg{
    background-color: rgba(230, 214, 168, 0.246);
}


@media only screen and (max-width:680px){
    .dashboardbg{
        
        background-position:center;
        background-size: cover;
        height: auto;
        width: fit-content;
        
      
    }
}