
.order-services form{
    width: 400px;
  height: 480px; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 18px;
}
.order-services form input,textarea{
  width: 100%;
  margin-bottom: 30px;
 

  
}
.order-services .submit{
  width: 40%;
  margin-bottom: 30px;
  
}


@media only screen and (max-width:680px){
 
.order-services form{
  width: 300px;
  height: 480px; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
}