.contact-bg{
   
        background-image:url("https://i.ibb.co/jvh07cV/img2.png");
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
        background-size:contain;
        
      
}